@model EspModel

<div class="text-center">
    <span>AuthnKey JWT Claims (What is a JWT Claims? <a href="https://datatracker.ietf.org/doc/html/rfc7519#section-4.1">Learn more</a>)</span>
    @foreach (var el in Model.AuthnKeyProperties)
    {
        <div class="row">
            <div class="col-6">@el.Key</div>
            <div class="col-6">@el.Value</div>
        </div>
    }
    <a class="btn btn-primary" href="@Model.LoginUrl">Login with Spid</a>
    
</div>
