<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header>
    <%- include('partials/header'); %>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Welcome to ESP Javascript Plugin</h1>
            <a href="https://github.com/namirialgroup/esp-plugin"><h2 class="display-4">Plugin Github Repository</h2></a>
            <br/>
            <a class="btn btn-primary" id="key" href="/key">Generate authn key</a>
        </div>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - ESP <a class="navbar-brand" href="https://namirialgroup.github.io/esp-docs/">Check the latest Documentation.</a>
    </div>
</footer>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/site.js"></script>

<script type="text/javascript " src="js/jquery.min.js "></script>

</body>
</html>
